* { 

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
    

body {
    background: #0b0b0b;
    color: white;
}



.container {
  padding: 25px;
  color: white;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.card {
  background: white;
  color: #333;
  padding: 20px;
  width: 220px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #e84118;
}

button {
  padding: 12px 25px;
  border-radius: 10px;
  border: none;
  background: #2ecc71;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #27ae60;
}

canvas {
  background: white;
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

